*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Alegreya SC";
    src: url("../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf");
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
}

@font-face {
    font-family: "Nixie One";
    src: url("../fonts/Nixie_One/NixieOne-Regular.ttf");
}


body {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 10vh;
    width: 100vw;
    background-image: url("../img/ohnehashtagdigga.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 0;
}


.newinterior a {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: "Alegreya SC";
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 39.6px;
    text-decoration: none;

}

.menuicon img:hover {
    width: 2vw;
}


header h1 {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: "Nixie One";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin: 30vh 0 2.5vh;
}

.header_untertitel {
    text-align: center;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Alegreya SC";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 45vh;
}

.latestwork {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 5vh;
}

.latestwork_header {
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
}

.latestwork_headerlinks h2 {
    color: #3A4F52;
    font-family: "Alegreya Sans";
    font-size: 36px;
    font-weight: 500;
    line-height: 110%;
}

.latestwork_headerlinks p {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 142.857%;
}

.viewAll a {
    color: #3A4F52;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #3A4F52;
    padding: 2vh;
}

.viewAll a:hover {
    background-color: #3A4F52;
    color: white;
}

.latestwork_headerrechts {
    align-self: center;
}

.latestwork ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.75vw;
    margin: 0 5vw 10vh;
    justify-content: center;
    list-style: none;
}

.latestwork ul li {
    width: 25.5vw;
    height: 25.5vh;
    transition: transform 0.7s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    display: flex;
    align-items: center;
}

.bild1 {
    background-image: url(../img/bild.png);
}

.bild2 {
    background-image: url(../img/Link2.png);
}

.bild3 {
    background-image: url(../img/link3.png);
}

.bild4 {
    background-image: url(../img/link4.png);
}

.bild5 {
    background-image: url(../img/link5.png);
}

.bild6 {
    background-image: url(../img/Link6.png);
}

.bild1,
.bild2,
.bild3,
.bild4,
.bild5,
.bild6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.framedigga {
    overflow: hidden;
}

li .hintergrund {
    background-color: rgba(2, 56, 58, 0.70);
    width: 24vw;
    height: 24vh;
    display: none;
    justify-content: center;
    align-items: center;
}

li:hover .hintergrund {
    display: flex;
}


ul a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
    border: 2px solid white;
    padding: 1vh 1vw;
}


.latestwork li:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.5);
}


.ourservices {
    background-image: url("https://s3-alpha-sig.figma.com/img/73d0/ec08/8d72e0af708f1d83a868ba81ee657811?Expires=1701043200&Signature=WGYN2Zk3sEXMvT15d2lhN78Os-5C1sN8uxOmFJ2ZRHNx1VbeOuokwXJ0Ex2Yz3iofGIZSO0rZFmXjATWFx0dWK7fvxwDUfid18g3xGfyUF5Tbj-o2R5TrYrIhFFr7XY9KQ3q70dkMF8OfJdtW1HAxm5FgUO~KtVeRgUXsXhja-ddeons2ehInz5jMRF3EV3j2bwtyKTB3Nd-rH8u2h~5WBSDOcP8YjoeSWaTfYWJwsReX65-Nt-rlxbWBsYhZD3PKAOF-90rFUFCa4NN8zVp1aF1HGNtTzi8TqYz887YsVT5NDlZAZTahb~UX18iKa~h2FtIE0hico35GZDqugV39Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.serviceframe {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.242);
    margin: 10vh;
}

.serviceframe h2 {
    color: #FFF;
    text-align: center;
    font-family: "Alegreya Sans";
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 110%;
    margin: 5vh 0;
}

.servicetext {
    margin-top: -2.5vh;
    margin-bottom: 8.5vh;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 142.857%;
}

.icons {

    display: flex;
    justify-content: space-evenly;
    gap: 8.5vh;
    margin-bottom: 10vh;
    padding: 0 5vw;
}

.concepts,
.Colors,
.Illustration {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.concepts img,
.Colors img,
.Illustration img {

    width: 5vw;
    height: 5vw;
    margin: 0 auto;
}

.concepts h3,
.Colors h3,
.Illustration h3 {
    margin: 0 auto 3.5vh;
    color: #FFF;
    text-align: center;
    font-family: "Alegreya Sans";
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 110%;
}

.Illustrationtext,
.colorsstext,
.conceptstext {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 142.857%;
}

.blog {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 5vh;
}

.blog_header {
    display: flex;
    justify-content: space-between;
    margin: 5vh 10vw 2vh;
}

.blog_headerlinks h2 {
    color: #3A4F52;
    font-family: "Alegreya Sans";
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 110%;
}

.blog_headerlinks p {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 0.875;
    font-weight: 400;
    line-height: 142.857%;
}

.blog_headerrechts {
    align-self: center;
}

.blogsection {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin: 0 10vw 10vh;
    justify-content: space-between;
    width: 80vw;
}

.design,
.winter,
.theillustration {
    width: 25vw;
}

.design img,
.winter img,
.theillustration img {
    width: 25vw;
}

.blogsection h2 {
    color: #3A4F52;
    font-family: "Alegreya Sans";
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 110%;
}

.date {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 142.857%;
}

.blogtext {
    color: #6A6A6A;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 142.857%;
}

.blogsection a {
    color: #4DA7CA;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 142.857%;
}

.meaningless {
    background-image: url("../img/rchtiges.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    display: flex;
}



.meaninglessframe {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.242);
    margin: 7.5vh 12.5vw;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
}

.meaninglessframe h2 {
    color: #FFF;
    text-align: center;
    font-family: "Alegreya Sans";
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 10vh;

}

.meaninglessbutton {
    text-align: center;
    border: 1px solid #FFF;
    padding: 1vh;
    width: 14vw;
}

.meaninglessbutton:hover {
    width: 15vw;
    background-color: #3A4F52;
}

.meaninglessbutton a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 133.333%;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.testimonials h2 {
    margin-top: 10vh;
    color: #3A4F52;
    text-align: center;
    font-family: "Alegreya Sans";
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 110%;
    /* 110% */
}

.untertitel {
    margin-top: -2.5vh;
    margin-bottom: 12vh;
    color: #6A6A6A;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 142.857%;
}

.threeguys {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
}

.jhon,
.jane,
.albert {

    display: flex;
    flex-direction: column;
    width: 25vw;
}

.jhon img,
.jane img,
.albert img {
    width: 10vw;
    align-self: center;
}


.texttestomonials,
.name,
.titel {
    text-align: center;
}

.texttestomonials,
.titel {
    color: #6A6A6A;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

.name {
    color: #6A6A6A;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 142.857%;
    margin: 5vh 0 2vh;
}

.titel {
    margin-bottom: 10vh;
}

.contact {
    background-image: url("../img/divcontact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.242);
    margin: 7.5vh;
    width: 80vw;
}

.contact h2 {
    color: #FFF;
    text-align: center;
    font-family: "Alegreya Sans";
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    margin: 5vh 0 3vh;
}

.contact p {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
    margin-bottom: 7.5vh;
}

.contactframe input,
.contactframe textarea {
    background-color: transparent;
    width: 40vw;
    padding: 1vh 0 1vh 0;
    border: 1px solid #FFF;
    border-radius: 4px;
    margin-bottom: 1.5vh;

}

input::placeholder,
textarea::placeholder {
    padding: 2.5vh;
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 400;
}

input[Type=submit] {
    color: #FFF;
    font-family: "Helvetica Neue";
    width: 7.5vw;
}

input[Type=submit]:hover {
    width: 8vw;
    background-color: #3A4F52;
}

footer {
    background-color: rgb(47, 61, 79);
    height: 15vh;
    width: 100vw;
    border-right: 2.5px solid rgb(47, 61, 79);
    display: flex;
    align-items: center;
}

footer p {
    margin-left: 10vw;
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 142.857%;
}





/* ----------------media query----------------- */

@media only screen and (max-width: 576px) {

    body {
        margin: 0;
        width: 100vw;
    }
    .header_h1{
        margin-bottom: 0vh;
    }
    .framedigga {
        width: 100vw;
    }
    .latestwork ul {
        width: 100vw;
        margin: 0;
    }
    .latestwork ul li {
        width: 100vw;
    }
    .latestwork_header {
        margin: 0 1vw;
    }
    li .hintergrund {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    }
    .serviceframe {
        margin: 10vh 0;
        width: 100vw;
    }
    .icons {
        flex-direction: column;
    }
    .icons img{
        height: 20vh;
        width: 20vw;
    }
    .blog_header {
        margin:5vh 2vh 5vh ;
    }
    .design, .winter, .theillustration{
        display: flex;
        flex-direction: column;
        gap:2vh;
        margin: 0;
    }
    .serviceframe h2 {
        font-size: 2.9rem;
    }
    .conceptstext,
    .colorsstext,
    .Illustrationtext {
        width: 80vw;
    }

    .icons img {
        width: 20vw;
    }
    .blogsection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
        margin-left: 1vw;
    }
    .blogtext {
        width: 50vw;
    }
    .design,
    .winter,
    .theillustration {
        width: 90vw;
    }
    .design img,
    .winter img,
    .theillustration img {
        width: 98vw;
    }
    .meaninglessframe {
        width: 100vw;
        margin: 10vh 0;
    }
    .meaninglessframe h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
    }
    .meaninglessbutton {
        width: 40vw;
    }
    .untertitel{
        margin:0;
    }
    .threeguys {
        flex-direction: column;
        gap: 2vh;
    }
    .jane,
    .jhon,
    .albert {
        gap: 2.5vh;
        width: 80vw;
    }

    .jane img,
    .jhon img,
    .albert img {
        width: 40vw;
    }

    .contactframe {
        width: 100vw;
        margin: 0;
    }

    .contactframe input,
    .contactframe textarea {
        width: 90vw;
    }

    .contactframe input[type=submit] {
        width: 20vw;
    }

}


/* @media only screen and (max-width: 768px) {
    header {
        height: 50vh;
    }

    .latestwork {
        height: 50vh;
    }

    .latestwork ul li {
        width: 23vw;
        height: 15vh;
    }

    .icons {
        flex-direction: column;


    }

    .ourservices {
        height: 100vh;
    }

    .blog {
        height: 70vh;
    }

    .meaningless {
        height: 40vh;
    }

    .meaninglessframe {
        margin: 5vh 2vw;
    }

    .meaninglessbutton {
        width: 20vw;
    }
    .testimonials{
        height: 100vh;
    }
    .threeguys {
        flex-direction: column;
    }
    .jane, .jhon,.albert{
        width: 80vw;;
    }
    .contactframe{
        margin: 5vh 1vw;
        width: 95vw;
    }
    .contactframe input, .contactframe textarea{
        width: 90vw;
    }
    input[type=submit]{
        width: 20vw;
    }
} */